DEPLOY_HOST="SEU_HOST_OU_IP"
DEPLOY_USER="SEU_USUARIO_CPANEl"
DEPLOY_PORT="22"
DEPLOY_KEY_PATH="$HOME/.ssh/eliteplay_host"
DEPLOY_REMOTE_DIR="/home/SEU_USUARIO_CPANEl/public_html"
DEPLOY_LOCAL_DIR="/Applications/XAMPP/xamppfiles/htdocs/ElitePLAY/"

# 0 = nao remove arquivos extras no servidor (seguro)
# 1 = remove arquivos extras no servidor (espelha exatamente)
DEPLOY_DELETE="0"
